<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <style></style>
    <title>Bootstrap Example</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="navbar navbar-expand navbar-dark bg-dark">

        <div class="container"></div>
      </header>

      <div class="container">
        <h1>
          Bem-vindo ao Sistema de Processamento de Dados de despesas orçamentárias de Recife!
        </h1>
        <p>
          Nosso sistema foi projetado para
          a processar e extrair informações importantes de uma lista de
          API's.
        </p>

        <br />
        <br />
        <br />

        <h4>Despesas totais em cada mês</h4>
        <div>
          <canvas id="meuGrafico"></canvas>
        </div>
        <br />
        <br />
        <br />
        <h4>Despesas totais agrupadas por categoria</h4>
        <div>
          <canvas id="meuGrafico2"></canvas>
        </div>
        <br />
        <br />
        <br />
        <h4>Despesas totais agrupadas por fonte</h4>
        <div>
          <canvas id="meuGrafico3"></canvas>
        </div>
      </div>

      <footer class="footer">
        <div class="container text-center py-2">
          <p>&copy; 2023</p>
        </div>
      </footer>
    </div>
  </body>
</html>
